/* Referencia de posici칩n para que el JS calcule bien */
#content-scroll-area {
	position: relative;
	scroll-behavior: smooth;
}

/* Estilo opcional para ver cu치l pesta침a est치 activa */
.nav-tabs .nav-link.active {
	border-bottom: 3px solid #0d6efd !important;
	color: #0d6efd !important;
	font-weight: bold;
}
